/* Inici Reset CSS */

/*
  Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
  - The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
   all: unset;
   display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a {
   cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
   list-style: none;
}

/* For images to not be able to exceed their container */
img {
   max-width: 100%;
}

/* removes spacing between cells in tables */
table {
   border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
   white-space: revert;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
   display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
   -moz-user-modify: read-write;
   -webkit-user-modify: read-write;
   overflow-wrap: break-word;
   -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
   -webkit-user-drag: element;
}

/* Fi Reset CSS */



.contenedor {
   display: grid;
   grid-template-columns: auto 500px;
   /* grid-template-rows: repeat(8, 100%); */
   height: 100%;
   font-family: 'Ubuntu', sans-serif;

}

.contenedor>* {
   background-color: white;
   border: 1px solid white;
   color: black;
   text-align: center;

}

.imagenformulario {
   grid-column: 1 / span 1;
}

.form-contact {
   grid-column: 2 / span 1;
}

.testimonios {
   grid-column: 1 / span 2;
}

.quehacemos {
   grid-column: 1 / span 2;
}

.quiensomos {
   grid-column: 1 / span 2;
}

.faq {
   grid-column: 1 / span 2;
}

footer {
   grid-column: 1 / span 2;
}

@media screen and (max-width:1300px) {
   header {
      grid-column: 1 / span 2;
   }

   menu {
      grid-column: 1 / span 2;
   }

   .imagenformulario {
      grid-column: 1 / span 2;
   }

   .form-contact {
      grid-column: 1 / span 2;
   }

   .testimonios {
      grid-column: 1 / span 2;
   }

   .quehacemos {
      grid-column: 1 / span 2;
   }

   .quiensomos {
      grid-column: 1 / span 2;
   }

   .faq {
      grid-column: 1 / span 2;
   }

   footer {
      grid-column: 1 / span 2;
   }
}

@media screen and (max-width:720px) {
   header {
      grid-column: 1 / span 2;
   }

   menu {
      grid-column: 1 / span 2;
   }

   .imagenformulario {
      grid-column: 1 / span 2;
   }

   .form-contact {
      grid-column: 1 / span 2;
   }

   .testimonios {
      grid-column: 1 / span 2;
   }

   .quehacemos {
      grid-column: 1 / span 2;
   }

   .quiensomos {
      grid-column: 1 / span 2;
   }

   .faq {
      grid-column: 1 / span 2;
   }

   footer {
      grid-column: 1 / span 2;
   }
}

body {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
   grid-column: 1 / span 2;
   display: flex;
   justify-content:center;
   font-size: 60px;
   font-family: 'Poiret One', cursive;
   margin-left: 20px;
   margin-bottom: 30px;
}
header img {
   height: 200px;
   width: 200px;
}
header h1 {
   margin-top: 50px;
   margin-bottom: 0px;
   margin-left: 30px;
}
header h3 {
   color: gray;
   font-size:40px;
   margin-bottom: 25px;
   margin-top: 10px;
   margin-left: 30px;
   text-decoration: overline;
}

nav {
   position: sticky;
   top: 0px;
   grid-column: 1 / span 2;
   height: 50px;
   display: flex;
}
nav a{
   text-decoration: none;
   color: inherit;
   font-size: 18px;
}
nav ul {
   display: flex;
}
nav li{
   height: 50px;
   width: 200px;
   display: inline-block;
   padding: 5px 10px;
}
nav li:hover {
   color: white;
   background-color:#ff165d;
}
.imagenformulario {
   padding-top: 10px;
   display: flex;
}
.testimonios {
   padding: 30px;
   background-color: white;
}
.testimonios h2{
   font-size: 30px;
}
.testimonios h3 {
   font-size: 60px;
}
.diapositiva {
   display: flex;
   justify-content: flex-start;
}
.deslizar {
   display: flex;
   padding-top: 30px;
   padding-bottom: 30px;
}
.deslizar img{
   width: 200px;
   border-radius: 50%;
}
.deslizar p {
  align-self: center;
  padding: 10px;
}
.quehacemos{
   text-align: justify;
   background-color: white;
}
.quehacemos h3 {
   font-size: 50px;
   padding: 30px;
   text-align: center;
}
.quiensomos {
   background-color: white;
}
.quiensomos h3{
   font-size: 40px;
   padding: 30px;
   text-align: center;
}
.faq {
   background-color: white;
   padding: 30px;
}
.faq h2{
   font-size: 30px;
   padding: 10px;
   text-align: left;
}
.faq h3 {
   font-size: 20px;
   padding: 10px;
   text-align: left;
}

.form-contact {
   background-color: #FFF;
}

.contact {
   padding: .8rem;
   color: gray;
}

.contact label, .contact input, .contact textarea {
   display: block;
   width: 100%;
   margin-bottom: 8px;
   font-size: 18px;
}

.contact label {
   font-weight: 700;
}

.contact input:not([type='submit']), .contact textarea {
   border: none;
   border-bottom: 2px solid #ff165d;
   margin-bottom: 10px;
   font-size: 20px;
   outline: none;
   color: gray
}

.contact textarea {
   min-height: 100px;
}

input[ type='submit'] {
   padding: 10px;
   border: none;
   background-color: #ff165d;
   color: white;
   font-size: 20px;
   cursor: pointer;
}

input:hover {
   color: black;
}

footer {
   padding: 30px;
   text-align: center;
}